body { 
	font: 75% georgia, sans-serif;
	color: #2f312e; 
	background: rgba(255, 255, 255, 0.445) url(http://csszengarden.com/001/blossoms.jpg);
  text-align: center;
	}
h1 { 
	font: italic normal 2em georgia, sans-serif;
	letter-spacing: 1px;  
	color: #7D775C;
  }
h2 {
	font: italic normal 2em georgia, sans-serif;
	letter-spacing: 1px;  
	color: #7D775C;;
}
ul {
  font: 150% georgia;
  text-align: center;
}
